//= require activeadmin_addons/all

// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";

$primary-color: #2dbb43;
@import "arctic_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.site_title { overflow: hidden}

.has_many_fields ol {
  display: flex;
  //flex-wrap: wrap;
}

.bill {
  th {
    padding: 10px 0;
  }
}

.bill_item {
   .select2-container, select, option {
     min-width: 130px !important;
     margin-right: 20px;
   }

  input {
    width: 90% !important;
  }
}

.footer { display: none; }

.btn-submit {
  background-color: #2dbb43;
  color: white;
  border: none;
  border-radius: 3px;
  display: inline-block;
  transition: border 0.2s linear, color 0.2s linear, width 0.2s linear, background-color 0.2s linear;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: none;
  cursor: pointer;
  line-height: 30px;
}

.quick-actions-table {
  td {
    font-size: 16px;
  }
}

.header {
  .site_title {
    width: 250px;
    text-align: left;
    padding-left: 10px;
  }

  #utility_nav {
    width: calc(100% - 250px);
  }
}

@media screen and (min-width: 576px) {
  .header {
    #utility_nav {
      width: calc(100% - 250px);
    }

    .site_title {
      padding-left: 20px;
      width: 250px;
    }
  }
}

@media screen and (max-width: 576px) {
  #main_content {
    .columns {
      .column {
        width: 100% !important;
      }
    }
  }
}

